:root {
  --color-logo: #000000;
  --color-text-primary: #212121;
  --color-text-secondary: #757575;
  --color-akcent: #2196f3;
  --color-text-footer: #ffffff99;
  --background-color-primary: #ffffff;
  --background-color-secondary: #f5f4fa;
  --background-color-akcent: #2f303a;
  --background-color-akcent-secondary: #188ce8;
  --header-border-color: #ececec;
  --border-color: #eeeeee;
  --icon-color: #afb1b8;
}

body {
  color: var(--color-text-primary);
  background-color: var(--background-color-primary);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.section__offers {
  display: none;
}
@media (min-width: 1200px) {
  .section__offers {
    display: block;
  }
}

.header__nav {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-bottom: auto;
}
@media (min-width: 768px) {
  .header__nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}
@media (min-width: 768px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/*header*/
.logo {
  margin-right: 93px;
  color: var(--color-akcent);
}
.logo__logo-studio {
  color: var(--color-logo);
}
.logo, .logo__logo-studio {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
@media (min-width: 768px) {
  .logo, .logo__logo-studio {
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    position: fixed;
    overflow: scroll;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 48px 40px;
    background-color: var(--background-color-primary);
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    -webkit-transition: linear 250ms;
    transition: linear 250ms;
    opacity: 0;
  }
  .menu-container.is-open {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    z-index: 0;
  }
}
@media (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.menu-container__social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
  color: var(--color-akcent);
}
@media (max-width: 480px) {
  .menu-container__social-links {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (min-width: 768px) {
  .menu-container__social-links {
    display: none;
  }
}
.menu-container__item:not(:last-child) {
  margin-right: 10px;
  border-right: 1px solid var(--header-border-color);
  padding-right: 10px;
  margin-bottom: 5px;
}

.header__burger {
  background-color: var(--background-color-primary);
  border: none;
  display: block;
  padding-top: 10px;
  z-index: 1;
}
.header__burger__icon-close-burger {
  display: none;
}
.header__burger.is-open .header__burger__icon-close-burger {
  display: block;
  fill: var(--color-akcent);
}
.header__burger.is-open .header__burger__icon-burger {
  display: none;
}
@media (min-width: 768px) {
  .header__burger {
    display: none;
  }
}

/* contacts */
@media (max-width: 767px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media (min-width: 768px) {
  .header-contacts {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media (min-width: 1200px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.header-contacts__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--color-text-secondary);
}
@media (min-width: 768px) {
  .header-contacts__link, .header-contacts__link--tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: var(--color-text-secondary);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezie(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezie(0.4, 0, 0.2, 1);
  }
}
@media (min-width: 1200px) {
  .header-contacts__link, .header-contacts__link--tablet {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media (max-width: 767px) {
  .header-contacts__link--tablet {
    color: var(--color-akcent);
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}
.header-contacts__link:hover, .header-contacts__link:focus {
  color: var(--color-akcent);
}
.header-contacts__icon {
  display: none;
}
@media (min-width: 767px) {
  .header-contacts__icon {
    display: block;
    margin-right: 10px;
    fill: currentColor;
  }
}
@media (max-width: 767px) {
  .header-contacts__item:not(:first-child) {
    margin-bottom: 32px;
  }
}
@media (min-width: 768px) {
  .header-contacts__item:not(:first-child) {
    margin-top: 10px;
  }
}
@media (min-width: 1200px) {
  .header-contacts__item:not(:first-child) {
    margin-left: 40px;
    margin-top: 0;
  }
}

.main {
  display: block;
  max-width: 1600px;
  background-color: var(--background-color-akcent);
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 320px) and (max-width: 767px) {
  .main {
    background-image: url(../img/background-phone.jpg);
    height: 400px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/background-phone.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/background-phone.jpg);
  }
}
@media (min-width: 320px) and (max-width: 767px) and (min-device-pixel-ratio: 2), (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 320px) and (max-width: 767px) and (min-resolution: 192dpi) {
  .main {
    background-image: url(../img/background-phone@2x.jpg);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/background-phone@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/background-phone@2x.jpg);
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .main {
    background-image: url(../img/background-tablet.jpg);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/background-tablet.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/background-tablet.jpg);
  }
}
@media (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi) {
  .main {
    background-image: url(../img/background-tablet@2x.jpg);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/background-tablet@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/background-tablet@2x.jpg);
  }
}
@media (min-width: 1200px) {
  .main {
    background-image: url(../img/background.jpg);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/background.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/background.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media (min-width: 1200px) and (min-device-pixel-ratio: 2), (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 192dpi) {
  .main {
    background-image: url(../img/background@2x.jpg);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/background@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/background@2x.jpg);
  }
}
.main__title {
  margin-bottom: 30px;
  color: var(--background-color-primary);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  .main__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}

.main-button {
  display: inline-block;
  color: var(--background-color-primary);
  background-color: var(--color-akcent);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  padding: 10px 24px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.main-button:hover, .main-button:focus {
  background-color: var(--background-color-akcent-secondary);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*features*/
.features {
  padding-bottom: 0;
}
@media (min-width: 768px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 1200px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.section__title {
  margin-bottom: 30px;
  color: var(--color-text-primary);
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}
@media (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
  }
}

.features-item {
  -ms-flex-preferred-size: calc((100% - 60px) / 2);
      flex-basis: calc((100% - 60px) / 2);
}
@media (min-width: 768px) {
  .features-item {
    max-width: 450px;
  }
  .features-item:nth-child(2n) {
    margin-left: 30px;
  }
}
@media (min-width: 1200px) {
  .features-item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
  .features-item:not(last-child) {
    margin-right: 30px;
  }
  .features-item:nth-child(2n) {
    margin-left: 0;
  }
}
.features-item::before {
  display: block;
  content: "";
  height: 120px;
  background-color: var(--background-color-secondary);
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
}
.features-item__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 768px) {
  .features-item__title {
    text-align: start;
  }
}
.features-item__text {
  color: var(--color-text-secondary);
  font-size: 14px;
  line-height: 1.71;
}

.antenna::before {
  background-image: url(../img/antenna.svg);
}

.clock::before {
  background-image: url(../img/clock.svg);
}

.diagram::before {
  background-image: url(../img/diagram.svg);
}

.astronaut::before {
  background-image: url(../img/astronaut.svg);
}

/* what we do */
.offers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offers-item {
  margin-right: 30px;
}
.offers-item:nth-child(3n) {
  margin-right: 0;
}
.offers-item__card {
  position: relative;
}
.offers-item__description {
  position: absolute;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--background-color-primary);
  bottom: 0;
  width: 100%;
  height: 70px;
  margin-bottom: 0;
  padding: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* our team */
.team {
  background-color: var(--background-color-secondary);
  display: block;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.team-card {
  background-color: var(--background-color-primary);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (min-width: 768px) and (max-width: 1199px) {
  .team-card {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .team-card:nth-child(2n) {
    margin-right: 0;
  }
  .team-card:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .team-card {
    margin-right: 30px;
  }
  .team-card:nth-child(2n) {
    margin-left: 0;
  }
  .team-card:nth-child(4n) {
    margin-right: 0;
  }
  .team-card:nth-child(-n+2) {
    margin-bottom: 0;
  }
}
.team-card__info {
  padding-top: 30px;
  padding-bottom: 16px;
}
.team-card__photo {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .team-card__photo {
    width: 354px;
  }
}
@media (min-width: 1200px) {
  .team-card__photo {
    width: 270px;
  }
}
.team-card__name {
  color: var(--color-text-primary);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.team-card__member-profession {
  margin-bottom: 0;
  color: var(--color-text-secondary);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-card__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}
.team-card__item {
  width: 44px;
  height: 44px;
}
.team-card__item:not(:last-child) {
  margin-right: 10px;
}
.team-card__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  color: var(--icon-color);
  border-radius: 50%;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-card__link:hover, .team-card__link:focus {
  background-color: var(--color-akcent);
  color: var(--background-color-primary);
}
.team-card__icons {
  fill: currentColor;
}

/* customers */
.customers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.customers-item {
  width: 170px;
  height: 92px;
  margin-bottom: 30px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .customers-item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
  .customers-item:nth-child(2n+1) {
    margin-right: 30px;
  }
  .customers-item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .customers-item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
    margin-right: 30px;
  }
  .customers-item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
  .customers-item:nth-child(3n) {
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  .customers-item:not(:last-child) {
    margin-right: 30px;
  }
}
.customers-item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  width: 100%;
  height: 100%;
  color: var(--icon-color);
  -webkit-transition-property: border-color, color;
  transition-property: border-color, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-item__link:hover, .customers-item__link:focus {
  border-color: var(--color-akcent);
  color: var(--color-akcent);
}
.customers-item__icon {
  fill: currentColor;
}

/* footer */
.footer-basic {
  background-color: var(--background-color-akcent);
  margin-right: auto;
  margin-left: auto;
  padding: 60px 0px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
@media (min-width: 768px) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 1200px) {
  .footer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .footer__info {
    margin-right: 165px;
    margin-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .footer__info {
    margin-right: 70px;
  }
}
.footer__title {
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--background-color-primary);
  margin-bottom: 20px;
}

.footer-logo {
  margin-bottom: 20px;
}
@media (min-width: 1200px) {
  .footer-logo {
    margin-bottom: 28px;
  }
}
.footer-logo__web {
  color: var(--color-akcent);
}
.footer-logo__studio {
  color: var(--background-color-primary);
}
.footer-logo__web, .footer-logo__studio {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer-adress {
  color: var(--background-color-primary);
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 8px;
  text-align: center;
}
@media (min-width: 1200px) {
  .footer-adress {
    margin-bottom: 12px;
  }
}

.footer-contacts__item:nth-last-child(2) {
  margin-bottom: 8px;
}
@media (min-width: 1200px) {
  .footer-contacts__item:nth-last-child(2) {
    margin-bottom: 12px;
  }
}
.footer-contacts__communication {
  color: var(--color-text-footer);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 1200px) {
  .footer-contacts__communication {
    margin-right: 70px;
  }
}
.footer-contacts__communication:hover, .footer-contacts__communication:focus {
  color: var(--color-akcent);
}

/* join-in footer */
@media (min-width: 320px) and (max-width: 767px) {
  .footer-social-links {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .footer-social-links {
    margin-right: 93px;
    margin-top: 0;
  }
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer-links__item {
  width: 44px;
  height: 44px;
}
.footer-links__item:not(:last-child) {
  margin-right: 10px;
}
.footer-links__footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--background-color-primary);
  -webkit-transition-property: background-color, border-radius;
  transition-property: background-color, border-radius;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-links__footer-link:hover, .footer-links__footer-link:focus {
  background-color: var(--color-akcent);
}
.footer-links__icon {
  fill: currentColor;
}

/* subscribe */
@media (min-width: 1200px) {
  .subscription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.subscription__label {
  width: 100%;
}
.subscription__input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  background-color: inherit;
  border-radius: 4px;
  border: 1px solid var(--color-text-footer);
  margin-bottom: 20px;
}
@media (min-width: 480px) {
  .subscription__input {
    width: 450px;
  }
}
@media (min-width: 1200px) {
  .subscription__input {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}
.subscription__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 28px;
  width: 200px;
  height: 50px;
  color: var(--background-color-primary);
  background-color: var(--color-akcent);
  border-radius: 4px;
  border-color: var(--color-akcent);
  cursor: pointer;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (max-width: 1199px) {
  .subscription__button {
    margin-left: auto;
    margin-right: auto;
  }
}
.subscription__button:hover, .subscription__button:focus {
  background-color: var(--background-color-akcent-secondary);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.subscription__icon {
  fill: currentColor;
  margin-left: 10px;
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: scroll;
  z-index: 2;
  opacity: 1;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 609px;
  background-color: var(--background-color-primary);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition-property: translate;
  transition-property: translate;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 480px) and (max-width: 767px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media (min-width: 768px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
.modal__title {
  position: absolute;
  top: 40px;
  right: 40px;
  left: 40px;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.8);
          transform: translate(-50%, -50%) scale(0.8);
}

.modal-button {
  position: absolute;
  width: 30px;
  height: 30px;
  color: var(--color-logo);
  background-color: var(--background-color-primary);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  top: 8px;
  right: 8px;
  cursor: pointer;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  fill: currentColor;
}
.modal-button:hover {
  color: var(--color-akcent);
}
.modal-button:focus {
  color: var(--color-akcent);
  outline: 0;
}

.form {
  position: absolute;
  bottom: 164px;
  right: 40px;
  left: 40px;
  height: 342px;
}
@media (min-width: 480px) {
  .form {
    width: 370px;
  }
}
@media (min-width: 768px) {
  .form {
    width: 448px;
    top: 75px;
  }
}

.form-field {
  margin-bottom: 10px;
}
.form-field__label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--color-text-secondary);
  margin-bottom: 4px;
}
.form-field__box {
  position: relative;
  width: 100%;
  height: 40px;
}
.form-field__input {
  width: 100%;
  height: 100%;
  border: none;
  padding-left: 40px;
  padding-right: 12px;
  border-radius: 4px;
  outline: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.form-field__input:hover, .form-field__input:focus {
  border-color: var(--color-akcent);
}
.form-field__input:hover + .form-field__icon, .form-field__input:focus + .form-field__icon {
  color: var(--color-akcent);
}
.form-field__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: var(--color-text-primary);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field__icon-image {
  width: 100%;
  height: 100%;
  fill: currentColor;
}
.form-field__comment {
  margin-bottom: 20px;
}
.form-field__text {
  height: 120px;
  padding: 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
}

/* agree */
.agree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 24px;
  color: var(--color-text-secondary);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .agree {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}
.agree__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.agree__icon {
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--color-text-primary);
  border-radius: 2px;
  -webkit-transition-property: border, background-color;
  transition-property: border, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8.38px;
}
.agree__checkbox:checked + .agree__icon {
  border: 2px solid var(--color-akcent);
  background-color: var(--color-akcent);
  background-image: url(../img/icon-check.svg);
  background-repeat: no-repeat;
}
.agree__link {
  color: var(--color-akcent);
  text-decoration: underline;
  margin-left: 5px;
}

/* send-button */
.send-button {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  background-color: var(--color-akcent);
  color: var(--background-color-primary);
  padding: 10px 52px;
  border-radius: 4px;
  border: 1px solid var(--color-akcent);
  -webkit-transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, -webkit-box-shadow;
  transition-property: box-shadow, background-color;
  transition-property: box-shadow, background-color, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.send-button:hover, .send-button:focus {
  background-color: var(--background-color-akcent-secondary);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  outline: 0;
}

.button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (min-width: 768px) {
  .button-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.button-portfolio:not(:last-child) {
  margin-right: 8px;
}
@media (max-width: 767px) {
  .button-portfolio:not(:last-child) {
    margin-bottom: 15px;
  }
}

.button-portfolio__name {
  padding: 6px 22px;
  color: var(--color-text-primary);
  background-color: var(--background-color-secondary);
  font-family: inherit;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, box-shadow;
  transition-property: background-color, color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-portfolio__name:hover, .button-portfolio__name:focus {
  color: var(--background-color-primary);
  background-color: var(--color-akcent);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.projects-card__picture {
  position: relative;
  max-width: 370px;
  width: 100%;
  height: 294px;
  overflow: hidden;
  pointer-events: none;
}
.projects-card__card {
  height: 100%;
}
.projects-card__info {
  border: 1px solid var(--border-color);
  border-top: 0;
  padding: 20px 24px;
  width: 100%;
}
@media (max-width: 767px) {
  .projects-card__info {
    width: 370px;
  }
}
.projects-card__name {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects-card__description {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin-bottom: 0;
}
.projects-card__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.projects-card__text {
  position: absolute;
  width: 100%;
  height: 101%;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  background-color: var(--color-akcent);
  color: var(--background-color-primary);
  font-family: "Roboto";
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  opacity: 0.9;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-card__overlay:focus .projects-card__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 0.9;
}
.projects-list__item:hover .projects-card__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 0.9;
}

.projects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 767px) {
  .projects-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 767px) {
  .projects-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .projects-list__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .projects-list__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .projects-list__item:nth-child(2n) {
    margin-right: 0;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .projects-list__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .projects-list__item:nth-child(3n) {
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  .projects-list__item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}
.projects-list__item:hover {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* header container */
.header-container {
  position: relative;
}
@media (min-width: 320px) {
  .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/* portfolio */
.header-portfolio {
  border-bottom: 1px solid var(--header-border-color);
}

/* site nav */
.nav-list__item:not(:last-child) {
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .nav-list__item:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0;
  }
}
.nav-list__page, .nav-list__page--active {
  display: block;
  color: var(--color-text-primary);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px) {
  .nav-list__page, .nav-list__page--active {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.nav-list__page:hover, .nav-list__page:focus {
  color: var(--color-akcent);
}
.nav-list__page--active:visited {
  color: var(--color-akcent);
}
.nav-list__item {
  position: relative;
}
@media (min-width: 768px) {
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 768px) {
  .nav-list__page--active::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--color-akcent);
    border-radius: 2px;
  }
}/*# sourceMappingURL=main.css.map */