.features-item {
    flex-basis: calc((100% - 60px) / 2);
    @media (min-width: 768px) {
    &:nth-child(2n) {
        margin-left: 30px;
    }
    }
    @media (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 4);
    &:not(last-child) {
        margin-right: 30px;
    }
    &:nth-child(2n) {
        margin-left: 0;
    }
    }
    &::before {
        display: block;
        content: '';
        height: 120px;
        background-color: var(--background-color-secondary);
        margin-bottom: 30px;
        background-repeat: no-repeat;
        background-position: center;
        }
    
    &__title {
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        text-align: center;
        @media (min-width: 768px) {
            text-align: start;
        }
        }
    
    &__text {
        color: var(--color-text-secondary);
        font-size: 14px;
        line-height: 1.71;
        }
}

