/* footer */
.footer-basic {
    background-color: var(--background-color-akcent);
    margin-right: auto;
    margin-left: auto;
    padding: 60px 0px;
}

.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    @media (min-width: 768px) {
    flex-direction: row;
    align-items: baseline;
    }
    @media (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
    justify-content: center;
    }
    @media (min-width: 1200px) {
    justify-content: space-between;
    text-align: left;
    }

    &__info {
    @media (min-width: 768px) and (max-width: 1199px) {
        margin-right: 165px;
        margin-bottom: 60px;
    }
    @media (min-width: 1200px) {
    margin-right: 70px;
    }  
    }
    &__title {
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        color: var(--background-color-primary);
        margin-bottom: 20px;
}
}