/* footer */
.footer-basic {
    display: block;
    background-color: var(--background-color-akcent);
    margin-right: auto;
    margin-left: auto;
    padding: 60px 0px;
}

.footer {
    text-align: center;
    @media (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
    align-items: baseline; 
    text-align: start;
    }

    &__info {
    @media (min-width: 1200px) {
    margin-right: 70px;
    }  
    }
    &__title {
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        color: var(--background-color-primary);
        margin-bottom: 20px;
    @media (max-width: 1199px) {
        margin-top: 60px;
    }
        }
   
}