/* join-in footer */

.footer-social-links {
    margin-top: 60px;
    margin-bottom: 60px;
    
    @media (min-width: 768px) and (max-width: 1199px) {
    display: inline-block;
    margin-left: 165px;
    margin-top: 0;
    margin-bottom: 0;
    }
    @media (min-width: 1200px) {
    margin-right: 93px;
    margin-top: 0;
    }
    
}