    .header__burger {
            
        background-color: var(--background-color-primary);
        border: none;
        display: block;
        padding-top: 10px;
        &__icon-close-burger {
        display: none;
        }
    .header__burger.is-open &__icon-close-burger {
        display: block;
        fill: var(--color-akcent);
        }
   .header__burger.is-open &__icon-burger {
        display: none;
        }
        @media (min-width: 768px) {
            display: none;
        }
    }
         
    
      