.header__nav {
    
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    // @media (max-width: 767px) {
    // margin-bottom: auto;
    // }

    @media (min-width: 768px) {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em; 
    } 
}