/*header*/
.logo {
    color: var(--color-akcent);
    
    &__logo-studio {
            color: var(--color-logo);
        }
    
        &,
        &__logo-studio {
            font-family: Raleway, sans-serif;
            font-weight: 700;
            font-size: 24px;
            line-height: 1.16;
            letter-spacing: 0.03em;
            @media (min-width: 768px) {
                font-size: 26px;
                line-height: 1.19;
                letter-spacing: 0.03em;
            }
        }

    @media (min-width: 480px) {
        margin-right: 93px;
        padding-top: 16px;
        padding-bottom: 16px;

        
    }
}

