/* contacts */
.header-contacts {
    padding-top: 21px;
    padding-bottom: 21px;
    @media (min-width: 1200px) {
        display: flex;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0;
    }
    
    &__link {
        display: flex;
        align-items: center;
        color: var(--color-text-secondary);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        transition-property: color;
        transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4,0, 0.2, 1);
    @media (min-width: 1200px) {
        padding-top: 32px;
        padding-bottom: 32px;
        
    }   
    }
    
    &__link:hover,
    &__link:focus {
        color: var(--color-akcent);
        }
    
    &__icon {
        margin-right: 10px;
        fill: currentColor;
        }

@media (min-width: 320px) and (max-width: 767px) {
    display: none;
}
&__item:not(:first-child) {
    margin-top: 10px;
}
@media (min-width: 1200px) {
    &__item:not(:first-child) {
    margin-left: 40px;
    margin-top: 0;
            }   
}
}