.js-close-menu {
position: absolute;
top: 0;
background-color: var(--background-color-primary);

border: none;
display: block;
padding: 10px 0;
z-index: 1;
&__icon-close-burger {
    fill: var(--color-akcent);
}
@media (min-width: 768px) {
    display: none;
}
}
