.js-open-menu {
   position: relative;
    background-color: var(--background-color-primary);
    border: none;
    display: block;
    z-index: 2;
    padding: 10px 0;
    
    @media (min-width: 768px) {
        display: none;
    }
}