.menu-container {
     
    @media (min-width: 320px) and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    position: absolute;
    position: fixed;
    overflow: scroll;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 48px 40px;
    background-color: var(--background-color-primary);
    transform: translateY(100%);
    transition: linear 250ms;
    opacity: 0;

    &.is-open {
        transform: translateY(0);
        opacity: 1;
        z-index: 0;
    }
    }
    @media (min-width: 768px) {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    }


    &__social-links {
        display: flex;
        margin-top: 64px;
        color: var(--color-akcent);
        @media (max-width: 480px) {
            flex-wrap: wrap;
        }
        @media (min-width: 768px) {
            display: none;
        }
    }

    &__item:not(:last-child) {
        margin-right: 10px;
        border-right: 1px solid var(--header-border-color);
        padding-right: 10px;
        margin-bottom: 5px;
        
    }
}