.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    max-width: 528px;
    height: 581px;
    max-height: 581px;
    background-color: var(--background-color-primary);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);
    transition-property: translate;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &__title {
        position: absolute;
        top: 40px;
        right: 40px;
        left: 40px;
        font-size: 20px;
        line-height: 1.15;
        letter-spacing: 0.03em;
        margin-bottom: 12px;
    }

    .backdrop.is-hidden & {
        transform: translate(-50%, -50%) scale(0.8);
        }
}