:root {
    --color-logo: #000000;
    --color-text-primary: #212121;
    --color-text-secondary: #757575;
    --color-akcent: #2196f3;
    --color-text-footer: #ffffff99;
    --background-color-primary: #ffffff;
    --background-color-secondary: #f5f4fa;
    --background-color-akcent: #2f303a;
    --background-color-akcent-secondary: #188ce8;
    --header-border-color: #ececec;
    --border-color: #eeeeee;
    --icon-color: #afb1b8;
}